// Colors
$navbarBg: rgba(55, 66, 70, 1);
$NavbarGradient: linear-gradient(180deg, rgba(55, 66, 70, 1) 26%, rgba(55,66,70,0.7615541608146068) 48%, rgba(55,66,70,1) 69%);
$white: #ffffff;
$black: #000000;
$body: #333333;
$lightBody: #707070;

// App dimensions
$appWidth: 375px;

// Navbar dimensions
$navbarPadding: 11px 16px;
$navbarFontSize: 15pt;

// Card dimensions
$cardBorderRadius: 12px;
$cardBoxShadow: 2px 10px 20px rgba($black, 0.21);
$cardPadding: 1.5rem 3rem;
$cardVSeparation: 10px;

//Text size
$HeaderTextSize: 17px;
$FooterTextSize: 15px;

//Buttons
$ButtonRadius: 5px;
$ButtonColor: rgb(231,192,99);
$ButtonTextColor: #034F77;
$ButtonGradient: linear-gradient(180deg, rgba(231,192,99,1) 26%, rgba(231,192,99,0.7615541608146068) 48%, rgba(231,192,99,1) 69%);
