@import "src/assets/scss/variables";

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 45.58px;
  //padding: $navbarPadding;
  background: $navbarBg;
  background: $NavbarGradient;

  & p {
    color: #D8B952;
    font-weight: bold;
  }

  & .titleleft{
    font-family: 'AvenirBold';
    margin-left: 61px;
    font-size: 15px;
  }

  & .titleright{
    font-family: 'AvenirDemiBold';
    font-size: 14px;
    margin-right: 75px;
  }
}
