@import "src/assets/scss/variables";

.app-container {
  width: 100%;
  max-width: $appWidth;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  min-height: 100vh;

  & > .app-content {
    margin: 0 1rem;
  }

  & .header{
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 19px;
    margin-bottom: 34px;
    size: 17px;
  }

  & .header-text {
    font-family: 'AvenirMedium';
    font-size: $HeaderTextSize;
    text-align: center;
  }

  & .footer{
    margin-top: 45px;
    margin-bottom: 55px;
  }

  & .footer-text {
    font-family: 'AvenirMedium';
    font-size: $FooterTextSize;
    font-weight: bold;
  }

  & .player-indicators{
    margin-top: 24px;
    text-align: right;
  }

  & .moves-indicator {
    font-family: 'ZillaSlabRegular';
    font-size: 17px;
  }

  & .grid {
    display: grid;
    grid-template-columns: repeat(4, 93px);
    justify-content: center;
    margin-left: 5px;
  }

  & .get-voucher{
    font-family: 'AvenirDemiBold';
    size: 16px;
    width: 342px;
    height: 42px;
    font-size: $HeaderTextSize;
    margin-bottom: $cardVSeparation;
    background: $ButtonColor;
    background: $ButtonGradient;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: $ButtonRadius;
    color: $ButtonTextColor;
  }

  & .get-voucher:disabled {
    background: white;
    color: #707070;
    border: 0.2px solid gray;
  }
}
